{% extends 'base.html' %}

{% block titulo %} Login Page {% endblock titulo %}

{% block body %}

<!-- Mostrar mensajes flash -->
{% with msg = get_flashed_messages(with_categories=True) %}
<!-- Verifica si hay mensajes flash -->
  {% if msg %}
    <!-- Itera sobre los mensajes flash y los muestra -->
    {% for category, message in msg %}
    <!-- Alerta de Bootstrap -->
      <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        <!-- Muestra el mensaje -->
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="d-flex justify-content-center align-items-center vh-100" style="background-color: #a5ada8;">

    <div class="p-4 w-100" style="max-width: 1100px;">
        <div class="rounded-5 shadow-lg p-4" style="background-color: #cecacaf1;">

            <div class="row g-0">
                <!-- Columna Izquierda -->
                <div class=" rounded-5 col-md-6 d-flex flex-column justify-content-center align-items-center text-white p-4"
                    style="background-color: #a5ada8;">
                    <img src="{{ url_for('static', filename='usuario.png') }}" class="img-fluid mb-3"
                        style="max-width: 20%; height: auto; object-fit: contain;">
                    <h2 class="text-center">¡Bienvenido Nuevamente!</h2>
                    <p class="text-center" style="font-family: 'Lucida Console', monospace;">
                        Si aún no tienes una cuenta por favor regístrate aquí
                    </p>
                    <a href="{{ url_for('registro') }}">
                        <button type="button" class="btn btn-success mt-2"
                          style="height: 45px; background: linear-gradient(90deg, #35bd3c,#16691a);">
                            Registrarse
                        </button>
                    </a>

                </div>

                <!-- Columna Derecha -->
                <div class="col-md-6 d-flex flex-column justify-content-center align-items-center p-4">
                    <h2>Iniciar Sesión</h2>

                    <!-- Botón Google -->
                    <button type="button"
                        class="btn btn-light w-100 d-flex align-items-center justify-content-center mb-3"
                        style="max-width: 400px; height: 45px;">
                        <img src="{{ url_for('static', filename='google.webp') }}" alt="Google Logo"
                            style="width: 20px; margin-right: 10px;">
                        Iniciar con Google
                    </button>

                    <p class="text-center">o Iniciar Sesión con una cuenta</p>

                    <!-- Formulario -->
                    <form action="{{ url_for('accesologin') }}" method="POST" class="w-100" style="max-width: 400px;">
                        <div class="mb-3">
                            <input type="text" name="email" class="form-control" placeholder="Correo electrónico"
                                required>
                        </div>

                        <div class="mb-3">
                            <input type="password" name="password" class="form-control" placeholder="Contraseña"
                                required>
                        </div>

                        <button type="submit" class="btn btn-primary w-100"
                            style="height: 45px; background: linear-gradient(90deg, #35bd3c,#16691a);">
                            Iniciar Sesión
                        </button>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}